BasedOnStyle: WebKit
AlignConsecutiveMacros: AcrossEmptyLines
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: Never
IndentCaseLabels: true
ForEachMacros:
  - foreach
  - forEachListEntry
